<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.gildemodule">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <meta-data
            android:name="com.gildemodule.utils.MyGlideModule"
            android:value="GlideModule" />
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule" />
    </application>

</manifest>
